#content {
    max-width: 1600px; 
    margin: 0 auto;
}

nav a {
    text-align:center;
}
#hero-msg h1 { 
    text-align: center 
}
.button-box {
    text-align:center;
}
main section {
    text-align:center;
}
#hero-msg h4 {
    text-align:center;
}
#background {
    height: 725px;
}
body {
    background-color:#fcfbfb; 
    color: #d9c2a3
}
header{
    background-color:rgba(20,30,13, .7);
    color: #396e94
}
nav a:hover{
    background-color: black;
    color: #d9c2a3
}
.join{
    background-color: #D4AC0D;
    color: #090808
}
.book:hover{
    background-color:#A42212;
    color: #d9c2a3
}
.join:hover{
    background-color:#ccc ;
    color: #080808
}
#background{
    background-color: #999 ;
    color: #d9c2a3
}
.msg{
  background-color:#153c59 ;
  color: #d9c2a3
}
footer{
    background-color:#396e94 ;
    color: #d9c2a3
}